@model IEnumerable<EmployeeManagement.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees List </h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i> Create New Employee
    </a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Employees List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddelName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary">
                                <i class="fas fa-edit"></i> Edit
                            </a> 
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">
                                <i class="fas fa-info-circle"></i> Details
                            </a> 
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
